@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Books list</h2>
        <h4>Simple List Data with filtering and paging</h4>
        <div>Use base classes for Repository (WacListDataRepository), Service (WacListDataService), Controller (WacListDataController), Filter (WacFilter) and Viewmodel (WacListDataVm).
        By deriving your own classes from those base classes, you only need to impmlement their abstract methods and get a nicely structured, extendable code, which has following server-side functionality:</div>
        <ul>
            <li>display a list of dtos</li>
            <li>filter/search</li>
            <li>paging</li>
            <li>sorting</li>
        </ul>
        <div>@Html.ActionLink("View example", "Index", "BookListData") </div>

    </div>
    
</div>
