@model WaCore.Web.ViewModels.Users.UserListVm
@{
    ViewBag.Title = "Users";
}

<h2>List of users</h2>

<form asp-controller="User" asp-action="List" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#divUsers">
    <fieldset class="form-inline">
        <div class="well well-sm">
            <div class="form-group">
                <label asp-for="SearchConfig.Search" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SearchConfig.Search" class="form-control" />
                    <span asp-validation-for="SearchConfig.Search" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-default" onclick="$('#divNotifications').empty();">Search</button>
        </div>
    </fieldset>

    <div class="btn-toolbar">
        <a asp-action="Create" class="btn btn-default pull-right">Create</a>
    </div>

    <div id="divUsers">
        @Html.Partial("_List", Model)
    </div>
</form>